@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("./fonts/eot/IRANYekanWebBold.eot");
  src: url("./fonts/eot/IRANYekanWebBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebBold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/eot/IRANYekanWebThin.eot");
  src: url("./fonts/eot/IRANYekanWebThin.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebThin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebThin.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebThin.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/eot/IRANYekanWebLight.eot");
  src: url("./fonts/eot/IRANYekanWebLight.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebLight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebLight.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebLight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/eot/IRANYekanWebRegular.eot");
  src: url("./fonts/eot/IRANYekanWebRegular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebRegular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebRegular.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebRegular.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/eot/IRANYekanWebMedium.eot");
  src: url("./fonts/eot/IRANYekanWebMedium.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebMedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebMedium.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebMedium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("./fonts/eot/IRANYekanWebExtraBold.eot");
  src: url("./fonts/eot/IRANYekanWebExtraBold.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebExtraBold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebExtraBold.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/eot/IRANYekanWebExtraBlack.eot");
  src: url("./fonts/eot/IRANYekanWebExtraBlack.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */ url("./fonts/woff/IRANYekanWebExtraBlack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("./fonts/woff2/IRANYekanWebExtraBlack.woff2") format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/ url("./fonts/ttf/IRANYekanWebExtraBlack.ttf")
      format("truetype");
}

@font-face {
  font-family: shabnam;
  font-style: normal;
  font-weight: bold;
  src: url("../src/fonts/Shabnam-Medium-WOL.eot");
  src: url("./fonts/Shabnam-Medium-WOL.woff") format("woff"),
    url("./fonts/Shabnam-Medium-WOL.woff2") format("woff2"),
    url("./fonts/Shabnam-Medium-WOL.ttf") format("truetype");
}

@font-face {
  font-family: shabnam;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Shabnam-Thin-WOL.eot");
  src:  /* IE6-8 */ url("./fonts/Shabnam-Thin-WOL.woff") format("woff"),
    url("./fonts/Shabnam-Thin-WOL.woff2") format("woff2"),
    url("./fonts/Shabnam-Thin-WOL.ttf") format("truetype");
}
@font-face {
  font-family: Gandom;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Gandom.eot");
  src:  /* IE6-8 */ url("./fonts/Gandom.woff") format("woff"),
    url("./fonts/Gandom.woff2") format("woff2"),
    url("./fonts/Gandom.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: shabnam, iranyekan, Gandom, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: transparent;
}

li a {
  font-family: "shabnam";
  text-decoration: none;
  color: #131313e0;
}
h1,
h2,
h4,
p,
button {
  color: #131313e0;
  direction: rtl;
  font-family: "shabnam";
}
p {
  font-weight: 500;
}
:root {
  --primary: #eff0f1;
  --secondary: #f74e4e;
  --third: #131313;
  --fourth: #131313;
  --fifth: #ffbe53;
  --sixth: #8ee4fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
